body, html {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    border: 1px solid;
    margin: 0 auto;
    background: #342420;

}

/*.wraper {
    margin: 0 auto;
    border: 1px solid ;
    width: 800px;
}*/



footer {
    width: 100vw;
    height: 40px;
    display: flex;
    align-items: center;

    background: #3B3B47;
    justify-content: space-between;
    box-sizing: border-box;

}


.option {
    display: inline-block;
    margin: 5px;
    padding: 5px 12px;
    cursor: pointer;
    color: #5C959C;
    background: #42424E;
    border-radius: 2px;
    font-size: 13px;
    border: 1px solid #666;
}

.option:hover {
    opacity: 0.7;
}

.option.selected {
    background-color: #3B3B47;
    border: 1px solid #fff;
}


.toolBar {
    float: right;
    color: white;
    margin-left: 10px;
}

canvas {
    background: #999;
}
