div.container {
  width: 250px;
  margin: 30px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.content {
  padding: 5px;
}

img {
  width: 250px;
  opacity: 0.7;
}

p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


#p2 {
  text-align: center;
}
